/* Global Resets and Basic Setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
/* Header */
header {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 40px; /* Added margin to the left of the title */
}

header .cart-button {
    background: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 40px; /* Added margin to the right of the cart button */
}

header .cart-button:hover {
    background-color: #2980b9;
}

/* Typography */
h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}